#
# GRAKN.AI - THE KNOWLEDGE GRAPH
# Copyright (C) 2018 Grakn Labs Ltd
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#

version: 2.1
commands:
  install-bazel-linux-rbe:
    steps:
      - run: curl -OL https://raw.githubusercontent.com/graknlabs/build-tools/master/ci/install-bazel-linux.sh
      - run: bash ./install-bazel-linux.sh && rm ./install-bazel-linux.sh
      - run: curl -OL https://raw.githubusercontent.com/graknlabs/build-tools/master/ci/install-bazel-rbe.sh
      - run: bash ./install-bazel-rbe.sh && rm ./install-bazel-rbe.sh

  run-bazel-rbe:
    parameters:
      command:
        type: string
    steps:
      - run: bazel run @graknlabs_build_tools//ci:run-bazel-rbe -- << parameters.command >>

jobs:
  build:
    machine: true
    working_directory: ~/client-java
    steps:
      - install-bazel-linux-rbe
      - checkout
      - run: bazel run @graknlabs_build_tools//checkstyle:test-coverage
      - run-bazel-rbe:
          command: bazel build //...

  test:
    machine: true
    working_directory: ~/client-java
    steps:
      - install-bazel-linux-rbe
      - checkout
      - run-bazel-rbe:
          command: bazel test //... --test_size_filters=small --test_output=errors
      - run-bazel-rbe:
          command: bazel test //... --test_size_filters=medium,large,enormous --test_output=errors

  test-deployment:
    machine: true
    working_directory: ~/client-java
    steps:
      - checkout
      - install-bazel-linux-rbe
      - run: bazel run //:deploy-maven -- snapshot $CIRCLE_SHA1 $REPO_GRAKN_USERNAME $REPO_GRAKN_PASSWORD
      - run: sed -i -e "s/CLIENT_JAVA_VERSION_MARKER/$CIRCLE_SHA1/g" test/deployment/pom.xml
      - run: cat test/deployment/pom.xml
      - run: bazel build @graknlabs_grakn_core//:assemble-linux-targz
      - run: |
          cd bazel-genfiles/external/graknlabs_grakn_core/
          tar -xf grakn-core-all-linux.tar.gz
          cd grakn-core-all-linux/
          nohup ./grakn server start
      - run: cd test/deployment && mvn test
      - run: bazel-genfiles/external/graknlabs_grakn_core/grakn-core-all-linux/grakn server stop

  sync-dependencies:
    machine: true
    working_directory: ~/client-java
    steps:
      - install-bazel-linux-rbe
      - checkout
      - run: |
          bazel run @graknlabs_build_tools//ci:sync-dependencies -- \
          --source client-java@$CIRCLE_SHA1 \
          --targets docs:development examples:development

workflows:
  client-java:
    jobs:
      - build
      - test
      - test-deployment-maven:
          filters:
            branches:
              only: ci-fix-sync-dependency # TODO: revert
          requires:
            - build
            - test
      - sync-dependencies:
          filters:
            branches:
              only: ci-fix-sync-dependency # TODO: revert
          requires:
            - test-deployment-maven