#
# Copyright (C) 2022 Vaticle
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

config:
  version-candidate: VERSION
  dependencies:
    dependencies: [build]
    factory-tracing: [build, release]
    typedb-behaviour: [build]
    typedb-common: [build, release]
    typedb-protocol: [build, release]
    typeql: [build, release]

build:
  quality:
    filter:
      owner: vaticle
      branch: master
    build-analysis:
      image: vaticle-ubuntu-22.04
      command: |
        SONARCLOUD_CODE_ANALYSIS_CREDENTIAL=$SONARCLOUD_CREDENTIAL \
          bazel run @vaticle_dependencies//tool/sonarcloud:code-analysis -- \
          --project-key=vaticle_typedb_client_java \
          --branch=$FACTORY_BRANCH --commit-id=$FACTORY_COMMIT
    dependency-analysis:
      image: vaticle-ubuntu-22.04
      command: |
        bazel run @vaticle_dependencies//factory/analysis:dependency-analysis
  correctness:
    build:
      image: vaticle-ubuntu-22.04
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        bazel build //...
        bazel run @vaticle_dependencies//tool/checkstyle:test-coverage
        bazel test $(bazel query 'kind(checkstyle_test, //...)') --test_output=errors
        bazel test $(bazel query 'kind(rustfmt_test, //...)') --@rules_rust//:rustfmt.toml=//rust:rustfmt_config
    build-dependency:
      image: vaticle-ubuntu-22.04
      command: |
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        dependencies/maven/update.sh
        git diff --exit-code dependencies/maven/artifacts.snapshot
        bazel run @vaticle_dependencies//tool/unuseddeps:unused-deps -- list
    test-rust-integration-core:
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        tools/start-core-server.sh
        bazel test //rust/tests --test_arg=-- --test_arg=integration::queries::core --test_output=streamed && export TEST_SUCCESS=0 || export TEST_SUCCESS=1
        tools/stop-core-server.sh
        exit $TEST_SUCCESS
    test-rust-integration-cluster:
      machine: 4-core-16-gb
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        source tools/start-cluster-servers.sh # use source to receive export vars
        bazel test //rust/tests --test_env=ROOT_CA=$ROOT_CA --test_arg=-- --test_arg=integration::queries::cluster --test_output=streamed && export TEST_SUCCESS=0 || export TEST_SUCCESS=1
        tools/stop-cluster-servers.sh
        exit $TEST_SUCCESS
    test-rust-integration-runtimes:
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        source tools/start-cluster-servers.sh # use source to receive export vars
        bazel test //rust/tests --test_env=ROOT_CA=$ROOT_CA --test_arg=-- --test_arg=integration::runtimes --test_output=streamed && export TEST_SUCCESS=0 || export TEST_SUCCESS=1
        tools/stop-cluster-servers.sh
        exit $TEST_SUCCESS
    test-rust-behaviour-concept:
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        source tools/start-cluster-servers.sh # use source to receive export vars
        bazel test //rust/tests --test_env=ROOT_CA=$ROOT_CA --test_arg=-- --test_arg=behaviour::concept --test_output=streamed && export TEST_SUCCESS=0 || export TEST_SUCCESS=1
        tools/stop-cluster-servers.sh
        exit $TEST_SUCCESS
    test-rust-behaviour-connection:
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        source tools/start-cluster-servers.sh # use source to receive export vars
        bazel test //rust/tests --test_env=ROOT_CA=$ROOT_CA --test_arg=-- --test_arg=behaviour::connection --test_output=streamed && export TEST_SUCCESS=0 || export TEST_SUCCESS=1
        tools/stop-cluster-servers.sh
        exit $TEST_SUCCESS
    test-rust-behaviour-typeql:
      machine: 8-core-32-gb
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        source tools/start-cluster-servers.sh # use source to receive export vars
        bazel test //rust/tests --test_env=ROOT_CA=$ROOT_CA --test_arg=-- --test_arg=behaviour::typeql --test_output=streamed && export TEST_SUCCESS=0 || export TEST_SUCCESS=1
        tools/stop-cluster-servers.sh
        exit $TEST_SUCCESS
    test-java-integration:
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        bazel test //java/test/integration/... --test_output=errors
    test-java-behaviour-connection-core:
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        .factory/test-core.sh //java/test/behaviour/connection/... --test_output=errors --jobs=1
    # TODO: delete --jobs=1 if we fix the issue with excess memory usage
    test-java-behaviour-connection-cluster:
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        .factory/test-cluster.sh //java/test/behaviour/connection/... --test_output=errors --jobs=1
    # TODO: delete --jobs=1 if we fix the issue with excess memory usage
    test-java-behaviour-concept-core:
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        .factory/test-core.sh //java/test/behaviour/concept/... --test_output=errors
    test-java-behaviour-concept-cluster:
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        .factory/test-cluster.sh //java/test/behaviour/concept/... --test_output=errors
    test-java-behaviour-match-core:
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        .factory/test-core.sh //java/test/behaviour/typeql/language/match/... --test_output=errors
        .factory/test-core.sh //java/test/behaviour/typeql/language/get/... --test_output=errors
        .factory/test-core.sh //test/behaviour/typeql/language/expression/... --test_output=errors
    test-java-behaviour-match-cluster:
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        .factory/test-cluster.sh //java/test/behaviour/typeql/language/match/... --test_output=errors
        .factory/test-cluster.sh //java/test/behaviour/typeql/language/get/... --test_output=errors
        .factory/test-cluster.sh //test/behaviour/typeql/language/expression/... --test_output=errors
    test-java-behaviour-writable-core:
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        .factory/test-core.sh //java/test/behaviour/typeql/language/insert/... --test_output=errors
        .factory/test-core.sh //java/test/behaviour/typeql/language/delete/... --test_output=errors
        .factory/test-core.sh //java/test/behaviour/typeql/language/update/... --test_output=errors
    test-java-behaviour-writable-cluster:
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        .factory/test-cluster.sh //java/test/behaviour/typeql/language/insert/... --test_output=errors
        .factory/test-cluster.sh //java/test/behaviour/typeql/language/delete/... --test_output=errors
        .factory/test-cluster.sh //java/test/behaviour/typeql/language/update/... --test_output=errors
    test-java-behaviour-definable-core:
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        .factory/test-core.sh //java/test/behaviour/typeql/language/define/... --test_output=errors
        .factory/test-core.sh //java/test/behaviour/typeql/language/undefine/... --test_output=errors
    test-java-behaviour-definable-cluster:
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
      command: |
        export ARTIFACT_USERNAME=$REPO_VATICLE_USERNAME
        export ARTIFACT_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run @vaticle_dependencies//distribution/artifact:create-netrc
        .factory/test-cluster.sh //java/test/behaviour/typeql/language/define/... --test_output=errors
        .factory/test-cluster.sh //java/test/behaviour/typeql/language/undefine/... --test_output=errors
    deploy-crate-snapshot:
      filter:
        owner: vaticle
        branch: master
      image: vaticle-ubuntu-22.04
      dependencies:
        - build
        - test-integration-core
        - test-integration-cluster
        - test-integration-runtimes
        - test-behaviour-concept
        - test-behaviour-connection
        - test-behaviour-typeql
      command: |
        export DEPLOY_CRATE_TOKEN=$REPO_VATICLE_CRATES_TOKEN
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run --define version=$(git rev-parse HEAD) //rust:deploy_crate -- snapshot
    deploy-maven-snapshot:
      image: vaticle-ubuntu-22.04
      dependencies: [
        build, build-dependency,
        test-behaviour-connection-core, test-behaviour-connection-cluster,
        test-behaviour-concept-core, test-behaviour-concept-cluster,
        test-behaviour-match-core, test-behaviour-match-cluster,
        test-behaviour-writable-core, test-behaviour-writable-cluster,
        test-behaviour-definable-core, test-behaviour-definable-cluster
      ]
      filter:
        owner: vaticle
        branch: master
      command: |
        export DEPLOY_MAVEN_USERNAME=$REPO_VATICLE_USERNAME
        export DEPLOY_MAVEN_PASSWORD=$REPO_VATICLE_PASSWORD
        bazel run @vaticle_dependencies//tool/bazelinstall:remote_cache_setup.sh
        bazel run --define version=$(git rev-parse HEAD) //java:deploy-maven -- snapshot
    test-deployment-maven:
      image: vaticle-ubuntu-22.04
      dependencies: [deploy-maven-snapshot]
      filter:
        owner: vaticle
        branch: master
      command: |
        export REPO_DIR="/home/factory/$FACTORY_REPO/"
        export TYPEDB_DIST_DIR="dist/typedb-all-linux/"
        bazel run //java/test:typedb-extractor-linux -- $TYPEDB_DIST_DIR
        export TYPEDB_SVC_PATH="${REPO_DIR//\//\\/}${TYPEDB_DIST_DIR//\//\\/}"
        bazel run @vaticle_dependencies//tool/util:create-systemd-service -- typedb "${TYPEDB_SVC_PATH}typedb server"
        sudo systemctl daemon-reload
        sudo systemctl start typedb

        sed -i -e "s/CLIENT_JAVA_VERSION_MARKER/$FACTORY_COMMIT/g" test/deployment/pom.xml
        cat test/deployment/pom.xml
        cd test/deployment && mvn test

release:
  filter:
    owner: vaticle
    branch: master
  validation:
    validate-dependencies:
      image: vaticle-ubuntu-22.04
      command: bazel test //:release-validate-deps --test_output=streamed
    validate-release-notes:
      image: vaticle-ubuntu-22.04
      command: |
        export NOTES_VALIDATE_TOKEN=$REPO_GITHUB_TOKEN
        bazel run @vaticle_dependencies//tool/release/notes:validate --test_output=streamed -- $FACTORY_OWNER $FACTORY_REPO ./RELEASE_NOTES_LATEST.md
#  deployment:
#    deploy-github:
#      image: vaticle-ubuntu-22.04
#      command: |
#        export PYENV_ROOT="/opt/pyenv"
#        pyenv install 3.7.9
#        pyenv global 3.7.9
#        sudo unlink /usr/bin/python3
#        sudo ln -s $(which python3) /usr/bin/python3
#        sudo ln -s /usr/share/pyshared/lsb_release.py /opt/pyenv/versions/3.7.9/lib/python3.7/site-packages/lsb_release.py
#        python3 -m pip install certifi
#        export DEPLOY_GITHUB_TOKEN=$REPO_GITHUB_TOKEN
#        bazel run --define version=$(cat VERSION) //:deploy_github -- $FACTORY_COMMIT
#    deploy-crate-release:
#      image: vaticle-ubuntu-22.04
#      command: |
#        export DEPLOY_CRATE_TOKEN=$REPO_CRATES_TOKEN
#        bazel run --define version=$(cat VERSION) //rust:deploy_crate -- release
#    deploy-maven-release:
#      image: vaticle-ubuntu-22.04
#      dependencies: [deploy-github]
#      command: |
#        export DEPLOY_MAVEN_USERNAME=$REPO_VATICLE_USERNAME
#        export DEPLOY_MAVEN_PASSWORD=$REPO_VATICLE_PASSWORD
#        bazel run --define version=$(cat VERSION) //java:deploy-maven -- release
